nav{
    background-color: rgb(196, 183, 183);
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}